* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*styling of the nav area*/
nav {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);
    border-bottom: 8px solid rgb(206, 176, 241);
    align-items: center;
    font-size: 15px;

}

.nav-header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 25px;
    border: 2px solid white;
    border-radius: 2px;
    justify-content: flex-start;


}

.nav-link {
    list-style-type: none;
    display: inline-block;
    padding: 20px 12px;
    font-family: Arial, Helvetica, sans-serif;

}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(254, 52, 187);

}

/*Styling of the hero section (Full Stack Developer)*/

.hero-image {
    background-image: url("purple-cyber-image.jpg");
    height: 140px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid rgb(206, 176, 241);
    /*add a box border to h1*/
}

.hero-image h1 {
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);
    font-size: 30px;

}

/*Styling of the about me section*/

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);
    border-bottom: 8px solid rgb(206, 176, 241);
    padding: 5px;
    flex-direction: column;
}

.about-me-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid rgb(206, 176, 241);
    border-radius: 2px;
    background-image: linear-gradient(rgb(198, 90, 225) 40%,
            rgb(55, 32, 60)100%);
    text-align: center;
    padding: 10px;
}

img {
    width: 190px;
    height: auto;
    border: 3px solid rgb(206, 176, 241);
    margin: 5px;


}

.about-me-text {
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    border: 3px solid rgb(206, 176, 241);
    padding: 20px;
}

/*Styling of my portfolio*/
.portfolio-title {
    color: white;
    font-family: Arial,
        Helvetica,
        sans-serif;
    border-bottom: 4px solid rgb(206, 176, 241);
    border-radius: 2px;
    background-image: linear-gradient(rgb(198, 90, 225) 40%,
            rgb(55, 32, 60)100%);
    text-align: center;
}

.portfolio-container {
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 2%;
    background-image: linear-gradient(rgb(198, 90, 225) 40%,
            rgb(55, 32, 60)100%);

}



.project-one img {
    width: 60%;
    /* Uses the height of the viewport */
    height: 60vh;
    /* Centers along the main axis determined by flex-direction */
}

.project-card img {
    flex-direction: row;
    width: 40%;
    height: 30vh;
}



@media all and (max-width:445px) {
    .nav-link {
        border-bottom: 2px solid white;
        padding: 5px;
        margin-right: 56px;
        display: block;
        text-align: center;
        font-size: small;

    }

    nav {
        padding: 20px;

    }

    .nav-header {
        margin-left: 50px;
        margin-right: 10px;
        padding: 20px 10px;
        border: none;

    }

    .hero-image h1 {
        text-align: center;
    }

    .about-me {
        flex-direction: column;
    }


    /*add hero adjustments*/
}