* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*styling of the nav area*/
nav {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);
    border-bottom: 8px solid rgb(206, 176, 241);
    align-items: center;
    font-size: 15px;

}

.nav-header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 25px;
    border: 2px solid white;
    border-radius: 2px;
    justify-content: flex-start;


}

.nav-link {
    list-style-type: none;
    display: inline-block;
    padding: 20px 12px;
    font-family: Arial, Helvetica, sans-serif;

}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: rgb(254, 52, 187);

}


/*Styling of the hero section (Full Stack Developer)*/

.hero-image {
    background-image: url("purple-hero-image.jpg");
    height: 140px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid rgb(206, 176, 241);
    /*add a box border to h1*/
}

.hero-image h1 {
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);
    font-size: 30px;

}

/*Styling of the about me section*/
/*Creates a flex container to house about me information,*/
.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);
    border-bottom: 8px solid rgb(206, 176, 241);
    padding: 5px;
    flex-direction: column;
}

/*Creates a container to style the about me title section*/
.about-me-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid rgb(206, 176, 241);
    border-radius: 2px;
    background-image: linear-gradient(rgb(198, 90, 225) 40%,
            rgb(55, 32, 60)100%);
    text-align: center;
    padding: 10px;
}

/* Styling of the image of me in the about me section*/
img {
    width: 190px;
    height: auto;
    border: 3px solid rgb(206, 176, 241);
    margin: 5px;
}

/*Creation of a container to style the about me text */
.about-me-text {
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    border: 3px solid rgb(206, 176, 241);
    padding: 20px;
}

/* Creation of a container to style the my portfolio title*/
.portfolio-title {
    color: white;
    font-family: Arial,
        Helvetica,
        sans-serif;
    border-bottom: 4px solid rgb(206, 176, 241);
    background-image: linear-gradient(rgb(198, 90, 225) 40%,
            rgb(55, 32, 60)100%);
    text-align: center;
    padding: 10px;
}

/*Creates a container for project one image and styles it*/
.project-one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(55, 32, 60) 40%,
            rgb(198, 90, 225)100%);

}

/*Sets the width, height, margin top of the project one image*/
.project-one img {
    width: 70%;
    height: 55vh;
    margin-top: 30px;
}

/*Creates the overlay text on project one image & styles it*/
.overlay-text {
    position: absolute;
    background: hsl(300, 40%, 16%);
    color: #fff;
    font-size: 25px;
    padding: 25px;
    right: 55%;
}

/*Styles the overlay text link on the project one image*/
.overlay-text a {
    text-decoration: none;
    color: white;
}

/*Gives overlay text on project one image a hover effect when the mouse hovers over the link*/
.overlay-text a:hover {
    color: rgb(254, 52, 187);
}

/*Creates a container and styles it for the other four projects under project one*/
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* Centers along the main axis determined by flex-direction */
    justify-content: center;
    /* Centers along the opposite axis */
    align-items: center;
    /* Uses the height of the viewport */
    margin: 0 auto;
    padding: 25px;
    background-image: linear-gradient(rgb(198, 90, 225) 40%,
            rgb(55, 32, 60)100%);
}

/*Styles the overlay text link on the project 2,3,4 & 5 images*/
.overlay-text-projects a {
    text-decoration: none;
    color: white;
}

/*Gives overlay text on project 2,3,4 & 5 images a hover effect 
and font size increase when the mouse hovers over the link*/
.overlay-text-projects a:hover {
    color: rgb(254, 52, 187);
    font-size: 20px;
}

/*Creates the overlay text on project 2,3,4 & 5 images & styles it*/
.overlay-text-projects {
    position: absolute;
    background: hsl(300, 40%, 16%);
    color: #fff;
    font-size: 25px;
    margin: 20px;

}

/*adjusts the width and height of projects 2,3,4 & 5 images*/
.project-card img {
    width: 600px;
    height: 30vh;
}

/*Styles the footer links text styling*/
footer a {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
}

/*Gives the footer links a hover effect when the mouse is on one of the links*/
footer a:hover {
    color: rgb(254, 52, 187);
}

/*Styles each footer list item*/
footer li {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

/*Styles the footer Contact header*/
footer h1 {
    text-align: center;
    color: white;
    border: 4px solid rgb(206, 176, 241);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Styles the overall background of the footer and positioning of the links*/
footer {
    background-image: linear-gradient(rgb(198, 90, 225) 10%,
            rgb(55, 32, 60)60%);
    text-align: end;
    border-bottom: 20px solid rgb(206, 176, 241);
}

/* Targets elements to make website responsive and adaptable on smaller screens*/
@media all and (max-width:445px) {

    /*styles the nav links so it looks better on smaller screens*/
    .nav-link {
        border-bottom: 2px solid white;
        padding: 5px;
        margin-right: 56px;
        display: block;
        text-align: center;
        font-size: small;

    }

    /*Changes the padding in the nav list so the spacing is better on smaller screens*/
    nav {
        padding: 20px;

    }

    /*when the screen is made smaller removes the border around the header text*/
    .nav-header {
        margin-left: 50px;
        margin-right: 10px;
        padding: 20px 10px;
        border: none;

    }

    /*when screen is smaller it adjusts the text so its central*/
    .hero-image h1 {
        text-align: center;
    }

    /*changes the overlay-text padding when screen is smaller*/
    .overlay-text {
        padding: 5px;
    }

    /*changes the project one image size when screen is smaller*/
    .project-one img {
        width: 300px;
        height: 200px;
    }

    /*changes project 2,3,4 & 5 images when screen is smaller*/
    .project-card img {
        width: 300px;
        height: 30vh;
    }

    /*removes the border from contact header and adds a border bottom instead when screen is smaller*/
    footer h1 {
        border: none;
        border-bottom: 2px solid lavender;

    }
}